body{
    background-color: hsl(0, 100%, 74%);
    background-image: url(./image/bg-intro-desktop.png);
}

.writeUp{
    float: left;
    width: 43%;
    margin-top: 18%;
    margin-left: 1.8%;
}
.container{
    float: right;
    width: 50%;
    margin-top: 5%;
    display: block;
}
h2{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(243, 239, 239, 0.925);
    font-size: 1em;
}
.top{
    background-color: rgb(41, 41, 155);
    width: 95%;
    height: 40px;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 1em;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 1px 4px 8px rgb(94, 92, 92);

}
input{
    width: 82%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 35px;
    padding: 3px;
    padding-left: 30px;
    border: 0.5px solid rgb(147, 175, 197);
    box-shadow: none;
}
input[type="submit"]{
    background-color: rgb(94, 196, 94);
    color: white;
    box-shadow: 1px 3px 8px rgb(10, 90, 27);
    cursor: pointer;
    border: none;
}
input[type="submit"]:hover{
    background-color: rgb(20, 95, 20);
}
span{
    font-weight: 800;
}
.signup{
    background-color: white;
    text-align: center;
    padding-top: 31px;
    padding-bottom: 24px;
    height: 446px;
    border-radius: 5px;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 1px 8px 8px rgb(94, 92, 92);
}
::placeholder {
    color: rgb(54, 52, 52);;
    opacity: 1;
    font-size: larger;
  }
h6{
    margin-top: -25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(190, 185, 185, 0.596);
    font-size: 0.7em;
}
a{
    color: rgb(192, 58, 58);
    text-decoration: none;
}